npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/workspace.xml
*.iml



smart-carrier-app/.idea
smart-carrier-app/node_modules
smart-carrier-app/package-lock.json
smart-carrier-app/npm-debug.log
smart-carrier-app/build
smart-carrier-app/smart-carrier-app.iml
smart-carrier-app/smart-carrier-ui2.iml


smart-carrier-api/.idea
smart-carrier-api/node_modules
smart-carrier-api/package-lock.json
smart-carrier-api/npm-debug.log
smart-carrier-api/build


.idea/
build/
node_modules/



